<div class="con1">
    <div class="card">
        <div class="head">
            <h2>Pharmify Offers and Coupon Codes</h2>
        </div>
        <div class="info">
            <p>Pharmify has been putting forth pharmacy administrations to our clients for more than years. 
                We know the pharmacy and wellbeing and magnificence industry back to front, 
                continually guaranteeing we offer the most breakthrough items and medications.<br><br>
                <b>Hurry! Avail these exclusive PharmEasy offers now.</b> </p>
        </div>
    </div>
</div>