
  <footer class="footer">
    <div class="contactcard">
        <app-contactcard></app-contactcard>
    </div>
  <div class="container">

      <div class="row">    
          <div class="footer-col" id="company">
              <h4>PHARMIFY</h4>
              <p> 
                Pharmify has been putting forth pharmacy administrations to our clients for more than years. We know the pharmacy and wellbeing and magnificence industry back to front, continually guaranteeing we offer the most breakthrough items and medications.
              </p>
              <div class="social-links">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div>
          <div class="footer-col" id="services">
              <h4>Quick shop</h4>
              <ul>
                  <li><a>Covid Essentials</a></li>
                  <li><a>Personal care</a></li>
                  <li><a>Ayurvedic Care</a></li>
                  <li><a>Home Care</a></li>                  
              </ul>
          </div>
          <div class="footer-col" id="links">
              <h4>Company</h4>
              <ul>
                  <li><a>About us</a></li>
                  <li><a>Blogs</a></li>
                  <li><a>Careers</a></li>
                  <li><a>Partner with pharmacy</a></li>
                  <li><a>Sell at Pharmacy</a></li>
              </ul>
          </div>
          
          <div class="footer-col" id="subscribe">
              <h4>Need Help</h4>
              <ul>
                <li><a>Browse Medicines</a></li>
                <li><a>Browse Molecules</a></li>
                <li><a>Browse Cities & Areas</a></li>
                <li><a>Contact us</a></li>
                <li><a>FAQs</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="copyright">
      <div class="mt-0 mb-3 mb-sm-0">
          <p class="mb-0">
              © Website
              <a  href="#">2022</a> 
              | All Rights Reserved 
          </p>
      </div>
      <ul>
          <li >
              <a href="#">Privacy</a>
          </li>
          <li >
              <a href="#">Terms</a>
          </li>
          <li >
              <a href="#">Sitemap</a>
          </li>
          <li >
              <a href="#">Help</a>
          </li>
      </ul>
  </div>
</footer>
