<div class="con1">
    <div class="card">
        <div class="top">
            <div class="image">
                <img src="https://cms-contents.pharmeasy.in/offer/4db0adda6b1-40.jpg" height="100px">
            </div>
            <div class="info">
                <span id="head">Flat 20% off + 20% cashback on First Medicine Order</span>
                <p>Flat 20% off + Additional 20% cashback upto Rs.300 on your 1st medicine order</p>
            </div>
        </div>
        
        <div class="bottom">
            <div class="code">
                Code: DEAL20
            </div>
            <div class="link">
                <a href="#">COPY CODE</a>
            </div>
        </div>
    </div>
</div>