<div class="con1">
    <div class="card">
        <div class="head">
            Save 10% on this order
            <div class="logo">
                Get Plus
            </div>
        </div>
        <div class="content">
            <ul>
                <li>5% cashback on medicine</li>
                <li>10% cashback on diagnostics</li>
                <li>free Delivery on orders cashback</li>
                <li>ZERO convenience charge</li>
            </ul>
        </div>
        <div class="link">
            <a href="#"> View More Benefits - ></a>
        </div>
    </div>
</div>