<div class="con1">
    <div class="head">
        <h1>Customer Reviews</h1>
    </div>
    <div class="list">
        <div class="con3">
        <div class="con2">
            <div class="card">
                <div class="image">
                    <img src="./../../../assets/images/user3.jpg">
                </div>
                <div class="content">
                    <p id="user"> Bhargav Panchal</p>
                    <p id="reply">Good</p>
                </div>
                <div class="date">
                    22-12-2016
                </div>
            </div>
        </div>
        <div class="con2">
            <div class="card">
                <div class="image">
                    <img src="./../../../assets/images/user2.jpg">
                </div>
                <div class="content">
                    <p id="user"> Dishant Naik</p>
                    <p id="reply"> Excelent</p>
                </div>
                <div class="date">
                    02-10-2017
                </div>
            </div>
        </div>
        <div class="con2">
            <div class="card">
                <div class="image">
                    <img src="./../../../assets/images/user1.jpg">
                </div>
                <div class="content">
                    <p id="user"> Vaibhav KAKA</p>
                    <p id="reply"> On-time Delivery</p>
                </div>
                <div class="date">
                    21-02-2017
                </div>
            </div>
        </div>
        </div>
    </div>
</div>