<div class="con1">
    <div class="card">
        <div class="cart">
            <a routerLink="/cart">View Cart<i class="fa-solid fa-angle-right"></i></a>
        </div>
        <div class="offers">
            <p>Offer Available</p>
            <app-pd-sideoffer code="Code:SAFEMED" title="Medicines & Health Products - Flat 30% OFF + 15% Cashback" link="https://5.imimg.com/data5/SELLER/Default/2021/5/JZ/OK/YB/91432443/nolvadex-reg-tamoxifen-500x500.jpg"></app-pd-sideoffer>
            <app-pd-sideoffer code="Code: FIRST100" title="Get Rs 100 OFF on Doctor Consultation" link="https://miro.medium.com/max/1200/1*qCy3OLe8mlCrHcyxqdIMlA.jpeg"></app-pd-sideoffer>
        </div>
    </div>
</div>