<div class="navbar">
    <app-navbar></app-navbar>
</div>
<div class="path">
  Home&emsp;>&emsp;Pharmify Coupon codes and Offers
</div>
<div class="head">
  <h2>Frequently asked questions</h2>
</div>
<div class="con1">
          <div class="sub">
            <p>Medicine & Healthcare Orders</p>
            <div class="accordion" >
                <div class="ques">
                  <input type="radio" name="example_accordion" id="section1" class="accordion__input">
                  <label for="section1" class="accordion__label">Item is different from what I ordered</label>
                  <div class="accordion__content">
                    <p>We are sorry you have had to experience this. To initiate a return of the wrong item, please log in to the App, tap the "My Orders" tab, select the order in question & tap on the 'Return' tab. We will try to resolve your concern on priority.</p>
                  </div>
                </div>
                <div class="ques">
                  <input type="radio" name="example_accordion" id="section2" class="accordion__input">
                  <label for="section2" class="accordion__label">How do I cancel my order?</label>
                  <div class="accordion__content">
                    <p>
                      You can cancel your order from the ‘Order details’ screen before it is out for delivery. 
                      You can do so by clicking on the Account icon on the bottom of the App Home page > select "Orders" > Select the order which you want to cancel > tap “Cancel”. (Refer Image)
                      Or else, you can refuse it at the time of delivery and a refund will be processed into the payment source, if the order amount was paid online.
                    </p>
                  </div>
                </div>
                <div class="ques">
                    <input type="radio" name="example_accordion" id="section3" class="accordion__input">
                    <label for="section3" class="accordion__label">How do I gat an invoice for my order?</label>
                    <div class="accordion__content">
                      <p>
                        How do I get an invoice for my order?
                        To get the invoice for your order(s), go to the "My Orders" section, tap on the respective order, and you will find an option to download the invoice in a PDF format.
                      </p>
                    </div>
                </div>
                
            </div>
          </div>
          <div class="sub">
              <p>Delivery  </p>
              <div class="accordion">
                <div>
                  <input type="radio" name="example_accordion" id="section4" class="accordion__input">
                  <label for="section4" class="accordion__label">When will I receive my order?</label>
                  <div class="accordion__content">
                        <p>When will I receive my order?
                          Your order will be delivered within the 'Estimated Delivery Date' as committed at the time of order placement. You can check this by selecting your order from "My Orders" section. Keep a look-out for our order delivery updates.</p>
                  </div>
                </div>
                <div>
                  <input type="radio" name="example_accordion" id="section5" class="accordion__input">
                  <label for="section5" class="accordion__label">Can I modify my address after Order placement?</label>
                  <div class="accordion__content">
                    
                    <p>
          
                      Sorry, once the order is placed, we are unable to modify the delivery address. Please place a fresh order with the new delivery address.
                    </p>
                  </div>
                </div>
                
            </div>
          </div>
          <div class="sub">
              <p>Payments</p>
            <div class="accordion">
              <div>
                <input type="radio" name="example_accordion" id="section8" class="accordion__input">
                <label for="section8" class="accordion__label">Facing issues in payment with my order</label>
                <div class="accordion__content">
                      <p>
                        Your order will be placed and processed, irrespective of the online payment confirmation. In case of any unsuccessful payment/s, you can retry the payment or pay online later. 
                        Subsequently, you can also tap on the “Pay Now” button on the homepage or go to the order details page to make a payment. If you are facing a payment confirmation problem with your order, please note that online payment confirmations are completely dependent on the issuing bank. However, if the payable amount has been deducted from your account but shows as transaction failed, the amount will reflect in your account/wallet within 7-10 business days.</p>
                </div>
              </div>
              <div>
                <input type="radio" name="example_accordion" id="section15" class="accordion__input">
                <label for="section15" class="accordion__label">When will I get my refund?</label>
                <div class="accordion__content">
                      <p>Once the refund has been initiated, the refund amount is expected to reflect as per the payment method:
                        <br>
                        Cash on Delivery - Refund will be in Bank account (Within 24 hours) 
                        <br>
                        Online Payment via Credit / Debit Cards - Refund will be credited to the source (3 - 5 business days)
                        <br>
                        Bank Transfer - Refund will be in the updated Bank account (7 - 10 business days)
                        <br>
                        Net banking - Refund will be in Net Banking account (7 - 10 business days)
                        <br>
                        UPI - Refund will be in Net Banking account (5 - 7 business days)
                        <br>
                        PhonePe & other E-wallets - Refund will be in PhonePe & E-wallets (1 - 2 business days)
                        <br>
                        NEFT (Bank Refund) - Refund will be credited to your Bank Account (5 - 7 business days)</p>
                </div>
              </div>
            
            </div>
          </div>
          <div class="sub">
         <div>
          <p>Discounts</p>
          <div class="accordion">
            <div>
              <input type="radio" name="example_accordion" id="section9" class="accordion__input">
              <label for="section9" class="accordion__label">What are the latest offers & coupon codes applicable on Pharmacy?</label>
              <div class="accordion__content">
                    <ul>
                        <li>Flat 25% off + up to Rs.1000 cashback</li>
                        <li>Flat 20% off + 20% cashback on your 1st medicine order</li>
                        <li>Get 4000 Paytm Cashback Points via Paytm wallet | Postpaid</li>
                        <li>Get up to Rs.1000 cashback via PhonePe wallet only.</li>
                        <li>FLAT 18% Off on all medicine orders + Extra 5% cashback for Plus members</li>
                    </ul>
                
              </div>
            </div>
            <div>
              <input type="radio" name="example_accordion" id="section10" class="accordion__input">
              <label for="section10" class="accordion__label">How to get updates about Pharmacy offers and discounts?</label>
              <div class="accordion__content">
                
                <p>
                    Visit the Offers section on the Pharmacy website to explore the latest offers and discounts. You can also download the Pharmacy app from Google Play or Apple App Store to receive notifications on offers and discounts.
                </p>
              </div>
            </div>
            <div>
                <input type="radio" name="example_accordion" id="section11" class="accordion__input">
                <label for="section11" class="accordion__label">How do I use a coupon code on Pharmacy?</label>
                <div class="accordion__content">
                  
                  <p>
                    Follow these steps to use a coupon code on Pharmacy- 
                  </p>
                  <ol>
                    <li>Download the Pharmacy app or visit the website.</li>
                    <li>Select the products you want and add them to the cart.</li>
                    <li>Visit the cart page and click on Apply Coupon.</li>
                    <li>Enter the coupon code and click Apply.</li>
                    <li>Proceed to checkout to avail the discount.</li>
                </ol>
                </div>
            </div>
            <div>
                <input type="radio" name="example_accordion" id="section12" class="accordion__input">
                <label for="section12" class="accordion__label">Do i get a special discount when odering for the 1st time?</label>
                <div class="accordion__content">
                  
                  <p>
                    Yes, Pharmacy offers a special discount when you place your 1st order. Additionally, you also get exciting wallet offers and cashbacks.
                  </p>
                </div>
            </div>
            <div>
                <input type="radio" name="example_accordion" id="section13" class="accordion__input">
                <label for="section13" class="accordion__label">Can I apply more than on Pharmacy coupon at the same time?</label>
                <div class="accordion__content">
                  
                  <p>
                    No, you can only apply one Pharmacy coupon at once. You can remove one coupon code and replace it with another one if you wish.
                  </p>
                </div>
            </div>
            <div>
                  <input type="radio" name="example_accordion" id="section14" class="accordion__input">
                  <label for="section14" class="accordion__label">How to cancel a coupon/promo code?</label>
                  <div class="accordion__content">
                    
                    <p>
                        To cancel a coupon/promo code, you have to follow these steps-
                    </p>
                    <ul>
                        <li>Go to the cart page</li>
                        <li>Click on 'Remove' in the coupon section to remove the coupon/promo code.</li>
                    </ul>
                  </div> 
            </div>
        </div>
         </div>
          </div>
</div>
<div class="feature">
    <app-features></app-features>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>