<div class="con1">
    <div class="card">
        <div class="info1">
            Eligibility
1. Please use the code DEAL20 while placing the medicine order.
2. All eligible users will get additional 20% cashback on their first medicine order.
3. Offer is valid for new users only
4. Minimum order value is Rs.999 (Transaction value.
5. Offer is valid only for one-time usage per user.
6. PharmEasy reserves its absolute right to withdraw and/or alter any terms and conditions of the offer at any time without prior notice.
7. Maximum cashback upto Rs.300 on applying the code PHEA20
        </div>
        <div class="info2">

        </div>
        <div class="info3">

        </div>
    </div>
</div>