@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Artifika&family=Courgette&family=Righteous&display=swap');
/*    font-family: 'Abril Fatface', cursive;
    font-family: 'Artifika', serif;
    font-family: 'Courgette', cursive;
    font-family: 'Righteous', cursive;*/
.con1{
    width: 900px;
    margin: 20px;
}

.head #name{
    font-size: 38px;
    font-family: 'Artifika', serif;
    font-weight: 600;
    padding-bottom: 20px;
}

.card{
    background-color: rgba(61, 255, 216, 0.3);
    margin: 10px 15px;
    border: 1px;
    width: 700px;
    margin-left: 100px;
    border-style: dashed;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    height: 200px;
    width: 250px;
}

.left img{
    object-fit: cover;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content #price, .content #q{
    font-size: 22px;
    font-weight: 500;
}

.selection{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

select{
    font-size: 15px;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
}

button{
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
    margin-right: 25px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: rgba(37, 253, 37, 0.333);
}