<div class="feature">
    <app-featurecard title="Recommended by International doctors"></app-featurecard>
    <app-featurecard title="Same testing standards as branded medicines"></app-featurecard>
    <app-featurecard title="Help you save a lot of money on every order"></app-featurecard>
    <app-featurecard title="Contain the same active ingredients as branded medicines"></app-featurecard>
    <app-featurecard title="Are as effective as branded medicines"></app-featurecard>
    <app-featurecard title="Alternatives sold are produced by only the top 30 medicine makers"></app-featurecard>
</div>