@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Artifika&family=Courgette&family=Righteous&display=swap');
/*    font-family: 'Abril Fatface', cursive;
    font-family: 'Artifika', serif;
    font-family: 'Courgette', cursive;
    font-family: 'Righteous', cursive;*/
.path{
    padding: 10px;
    margin-top: 20px;
    margin-left: 80px;
    font-size: 40px;
    font-family: 'Righteous', cursive;
}
.grid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.left{
margin-left: 40px;
}

.right{
    margin-right: 30px;
}
.submit{
    padding: 20px;
    margin-left: 360px;
}

.submit button{
    width: 250px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    border: 1px;
    border-radius: 15px;
    background-color: #34ffcc;
}