
<div class="con1">
    <div class="card">
        <div class="part">
            <div class="title">
                <span class="icon">
                    <i class="fas fa-map-marker-alt"></i>
                </span>
            </div>
            <div class="ques">
                <p>Our Address</p>
                <p class="ans">
                    <b>Surat,Gujarat <br> India</b>
                </p>
            </div>
        </div>
        <div class="part">
            <div class="title">
                <span class="icon">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
            <div class="ques">
                <p>Our Mail</p>
                <p class="ans">
                    <b>custormercare-pharmify<br>@yahoo.com</b>
                </p>
            </div>
        </div>
        <div class="part">
            <div class="title">
                <span class="icon">
                    <i class="fas fa-phone"></i>
                </span>
            </div>
            <div class="ques">
                <p>Call Us</p>
                <p class="ans">
                    <b>93610 27678</b>
                </p>
            </div>
        </div>
    </div>
</div>