<div class="navbar">
    <app-navbar></app-navbar>
</div>
<div class="path">
    Home&emsp;>&emsp;Contact US
</div>
<div class="head">
    Contact Pharimfy
</div>
<div class="contact">
    <app-contactcard2></app-contactcard2>
</div>
<div class="gmap">
    <iframe class="loc" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1995170.80887362!2d78.02707419814934!3d12.395114677555956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5267ebca1ef1c9%3A0x65f09e8a6db91462!2sFortis%20Malar%20Hospital%2C%20Adyar%2C%20Chennai!5e0!3m2!1sen!2sin!4v1638028704164!5m2!1sen!2sin" frameborder="0" allowfullscreen>
    </iframe>
</div>
<app-footer class="footer"></app-footer>