<div class="con1">
    <div class="tophead">
        <div class="left">

        </div>
        <div class="right">
            
        </div>
    </div>
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="slider">
        <div class="content">
            <h2>Antibacterial Medical Mask</h2>
            <p>with subscriptional discounts</p>
            <button routerLink="/shopcat">Shop now</button>
        </div>
        <img src="./../../../assets/images/header-mask.png" height="400px">
    </div> 
</div>