<div class="service">
	<div class="title">
	    <h5>Custormer Testimonials</h5>
	    <h1>What OUR Clients Say</h1></div>
	<div class="cards">
		<app-commentcard comment="Best service and app amongst all available. I have been using it for more than 3 years, and even during the pandemic, they have kept their standards high and are delivering the order within 24 hours. Keep up the good work." link="./../../../assets/images/user2.jpg" name="Darpan Dholakia"></app-commentcard>
		<app-commentcard comment="Very helpful and friendly app in terms of usability, customer support & money saving from the point of medical necessity of every person." link="./../../../assets/images/user1.jpg" name="Rohini Sarkar"></app-commentcard>
		<app-commentcard comment="This app is a game changer for me. I am unable to go out always to buy medicinal products. Pharmeasy gives me the last liberty to shop essential healthcare products from home. The app is very user friendly and me being an elderly person do not find any difficulty in using it. They deliver well in time. Thanks😊" link="./../../../assets/images/user3.jpg" name="Lipi Chaudhuri"></app-commentcard>
        <app-commentcard comment="Excellent experience. Pharmeasy has not let it's customers down during lockdown. Thanks team. Great job. The application is also very smooth. And does its job well with an attractive UI and easy to use features. Good job developer." link="./../../../assets/images/profile.jpg" name="Dhyey Trivedi"></app-commentcard>
	</div>
</div>