<div class="con1">
    <div class="navbar">
        <div class="left">
            <div id="name">
                Pharmify
            </div>
            <div class="navitems">
                    <a href="\home">Home</a>
                    <a href="\shop">Shop</a>
                    <a href="#">Blog</a>
                    <a href="#">Contact us</a>
            </div>
        </div>
        <div class="right">
            <app-searchbar></app-searchbar>
            <a *ngIf="!islogged"  (click)="signin()">LOGIN</a>
            <a *ngIf="islogged">{{x}}</a>
            <a *ngIf="islogged"  (click)="signout()">SIGNOUT</a>
            <a ><i class="fa-solid fa-bag-shopping"></i></a>
        </div>
    </div>
</div>