<div class="con1">
    <div class="navbar">
        <div class="left">
            <div id="name">
                Pharmify
            </div>
            <div class="navitems">
                    <a href="\home">Home</a>
                    <a href="\shop">Shop</a>
                    <a href="#">Blog</a>
                    <a href="#">Contact us</a>
            </div>
        </div>
        <div class="right">
            <app-searchbar></app-searchbar>
            <a href="#">LOGIN</a>
            <a>ivrith07@gmail.com</a>
            <a href="#" (click)="signout()">SIGNOUT</a>
            <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
        </div>
    </div>
</div>